.a {
    background-image: url(https://img.freepik.com/fotos-gratis/closeup-de-pessoa-leitura-e-estudar-documento_1262-16061.jpg?w=740&t=st=1676587688~exp=1676588288~hmac=4455c5fb06f42628e5bd83a3cc63dbbc59c3cfc89ab5f84dcdf079e2cfd86ef1);
    background-repeat: no-repeat;
    background-size: 100%;
}

.c {
    background-image: url(https://cdn.univicosa.com.br/img/portal/nap/big/logo.jpg);
    background-size: 30px;
}

.form {
    text-align: center;
}

.b {
    background-color: #ffffff;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 40px;
    padding: 15px;
}

.botao {
    text-align: center;
    opacity: 1.0;
}

.imput {
    padding: 0px;
    margin: auto;
    border-radius: 40px;
    position: relative;
    border-bottom: 1px solid;
    outline: none;
}

.logouni {
    float: left;
    background-color: #003E9B;
    position: absolute;
    color: #FFF;
    width: 100%;
    height: 70px;
    line-height: 80px;
}

.logo {
    float: left;
    position: absolute;
    width: 150px;
    height: 41px;
    left: 12px;
    top: 15px;
}

.ba {
    text-align: center;
}

.pa {
    float: left;
    background-color: #b8b8b8;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 40px;
    padding: 15px;
    margin: auto;
    border-radius: 40px;
    border-bottom: 1px solid;
    outline: none;
    width: 15%;
    height: 35%;
}

.pb {
    float: left;
    background-color: #b8b8b8;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 40px;
    padding: 15px;
    margin: auto;
    border-radius: 40px;
    border-bottom: 1px solid;
    outline: none;
    width: 15%;
    height: 35%;
}

.pc {
    float: left;
    background-color: #b8b8b8;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 40px;
    padding: 15px;
    margin: auto;
    border-radius: 40px;
    border-bottom: 1px solid;
    outline: none;
    width: 15%;
    height: 35%;
}

.z {
    float: left;
    position: absolute;
    width: 160.45px;
    height: 160.45px;
    left: 34px;
    top: 55px;
}

.fim {
    float: left;
    background-color: #003E9B;
    position: absolute;
    bottom: 0;
    color: #FFF;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.lfim {
    float: left;
    position: relative;
    left: 40%;
    top: 30%;
}

.w {
    float: left;
    position: absolute;
    width: 160.45px;
    height: 160.45px;
    left: 34px;
    top: 170px;
}

.tfim {
    font-size: 10px;
}

.sair {
    position: relative;
    top: -90px;
    left: 1430px;
    color: #ffffff;
}
